*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 100%;
}

header{
    margin: 5px;
    display: flex;
    justify-content: center;
}

main{
    position: relative;
    margin: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

main .classCesar{
    display: none;
}